body {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

/* .main_img {
  background: url("./img/roast.png") no-repeat;
  background-size: cover;
  height: 700px;
  width: 100%;
} */

.main_btn {
  background: url(./img/roast_smal.png) no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
}
